# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production builds
dist/
build/

# Miscellaneous
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
service-account.json
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
